@import "colors";
@import "spacing";
@import "mixins";

$elv-button-background: $elv-color-mediumblue !default;
$elv-button-background-hover: $elv-color-bg-white !default;
$elv-button-color: $elv-color-text-white !default;
$elv-button-color-hover: $elv-color-mediumblue !default;
$elv-button-border: $elv-color-mediumblue !default;
$elv-button-border-hover: $elv-color-mediumblue !default;

@mixin elv-button {
  @include no-select;
  background-color: $elv-button-background;
  border: 1px solid $elv-button-border;
  border-radius: 2px;
  box-sizing: border-box;
  color: $elv-button-color;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  min-width: 120px;
  padding: $elv-spacing-mxs $elv-spacing-s;
  text-align: center;

  &:hover {
    background-color: $elv-button-background-hover;
    border: 1px solid $elv-button-border-hover;
    color: $elv-button-color-hover;
  }

  &:not(:last-child) {
    margin-right: $elv-spacing-xs;
  }

  &:focus {
    box-shadow: 0 0 8px $elv-color-lightblue;
    outline: 2px auto $elv-color-lighterblue;
  }
}

$elv-button-secondary-background: $elv-color-bg-white !default;
$elv-button-secondary-background-hover: $elv-color-mediumgray !default;
$elv-button-secondary-color: $elv-color-text-black !default;
$elv-button-secondary-color-hover: $elv-color-text-white !default;
$elv-button-secondary-border: $elv-color-mediumgray !default;
$elv-button-secondary-border-hover: $elv-color-mediumgray !default;

@mixin elv-button-secondary {
  @include elv-button;
  background-color: $elv-button-secondary-background;
  border: 1px solid $elv-button-secondary-border;
  color: $elv-button-secondary-color;
  
  &:hover {
    background-color: $elv-button-secondary-background-hover;
    border: 1px solid $elv-button-secondary-border-hover;
    color: $elv-button-secondary-color-hover;
  }
}

$elv-button-tertiary-background: $elv-color-bg-white !default;
$elv-button-tertiary-background-hover: $elv-color-bg-light !default;
$elv-button-tertiary-color: $elv-color-text-light !default;
$elv-button-tertiary-color-hover: $elv-color-text-black !default;
$elv-button-tertiary-border: transparent !default;
$elv-button-tertiary-border-hover: $elv-color-mediumgray !default;

@mixin elv-button-tertiary {
  @include elv-button;
  background-color: $elv-button-tertiary-background;
  border: 1px solid $elv-button-tertiary-border;
  color: $elv-button-tertiary-color;

  &:hover {
    background-color: $elv-button-tertiary-background-hover;
    border: 1px solid $elv-button-tertiary-border-hover;
    color: $elv-button-tertiary-color-hover;
  }
}

$elv-button-danger-background: $elv-color-bg-white !default;
$elv-button-danger-background-hover: $elv-color-mediumred !default;
$elv-button-danger-color: $elv-color-mediumred !default;
$elv-button-danger-color-hover: $elv-color-text-white !default;
$elv-button-danger-border: $elv-color-mediumred !default;
$elv-button-danger-border-hover: $elv-color-mediumred !default;

@mixin elv-button-danger {
  @include elv-button;
  background-color: $elv-button-danger-background;
  border: 1px solid $elv-button-danger-border;
  color: $elv-button-danger-color;

  &:hover {
    background-color: $elv-button-danger-background-hover;
    border: 1px solid $elv-button-danger-border-hover;
    color: $elv-button-danger-color-hover;
  }
}

.loading-element {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
