$elv-color-black: #000;
$elv-color-darkergray: #444;
$elv-color-darkgray: #555;
$elv-color-mediumgray: #aaa;
$elv-color-gray: #ccc;
$elv-color-lightgray: #ddd;
$elv-color-lightergray: #eee;
$elv-color-lightestgray: #f5f5f5;
$elv-color-white: #fff;

$elv-color-palered: #955;
$elv-color-mediumred: #a33;
$elv-color-red: #f33;

$elv-color-text-white: #fff;
$elv-color-text-lighter: #8c8c8c;
$elv-color-text-light: #6c6c6c;
$elv-color-text-dark: #222;
$elv-color-text-black: #000;

$elv-color-bg-white: #fff;
$elv-color-bg-light: #fafafa;
$elv-color-bg-dark: #f5f5f5;
$elv-color-bg-black: #000;

$elv-color-bg-modal: rgba(0, 0, 0, 0.3);

$elv-color-lighterblue: #60dfff;
$elv-color-lightblue: #0fafff;
$elv-color-mediumblue: #1b73e8;
$elv-color-darkblue: #003c7e;

$elv-color-shadow-gray: rgba(161, 161, 161, 0.5);

$elv-color-gradient-lightblue: linear-gradient(to right, $elv-color-lightblue, $elv-color-lighterblue);
$elv-color-gradient-mediumblue: linear-gradient(to right, $elv-color-mediumblue, $elv-color-lightblue);
$elv-color-gradient-darkblue: linear-gradient(to right, $elv-color-darkblue, $elv-color-mediumblue);

$elv-color-action-primary: $elv-color-mediumblue;
$elv-color-action-secondary: $elv-color-gray;
$elv-color-action-tertiary: $elv-color-white;
$elv-color-action-delete: $elv-color-mediumred;
$elv-color-action-disabled: $elv-color-lightergray;
