@mixin no-select {
  user-select: none;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin cropped-image($width, $height, $border-radius, $max-width: 200px, $max-height: 200px) {
  display: flex;
  justify-content: center;
  padding: 0;

  .cropped-icon {
    align-items: center;
    border-radius: $border-radius;
    display: flex;
    height: $height;
    justify-content: left;
    max-height: $max-height;
    overflow: hidden;
    width: $width;

    .icon {
      height: $height;
      max-height: $max-height;
      max-width: $max-width;
      object-fit: cover;
      object-position: top;
      padding: 0;
      width: $width;
    }
  }
}
