$elv-spacing-xxs: 4px;
$elv-spacing-mxs: 6px;
$elv-spacing-xs: 8px;
$elv-spacing-ss: 12px;
$elv-spacing-s: 16px;
$elv-spacing-m: 24px;
$elv-spacing-l: 32px;
$elv-spacing-ml: 48px;
$elv-spacing-xl: 64px;
$elv-spacing-xxl: 128px;
