@import "variables/mixins";
@import "variables/spacing";
@import "variables/colors";

.actions-container {
  display: flex;

  :first-child {
    &.action,
    &.action-loading {
      margin-left: 0;
    }
  }

  :last-child {
    &.action,
    &.action-loading {
      margin-right: 0;
    }
  }

  &.loading {
    justify-content: center;
    padding: 15px;
  }

  .action,
  .action-loading {
    @include no-select;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: $spacing-xs $spacing-xs $spacing-xs 0;
    min-width: 100px;
  }

  .action {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: $color-action-primary;
    border: 1px solid $color-action-primary;
    box-shadow: $color-mediumgray 2px 2px 1px;
    color: $color-text-white;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-size: 14px;
    height: 2.25em;
    justify-content: center;
    line-height: 1;
    min-width: 100px;
    padding: $spacing-xs $spacing-s;

    &:hover {
      background: $color-lightblue;
      border: 1px solid $color-lightblue
    }

    &.secondary {
      background: $color-action-secondary;
      border: 1px solid $color-action-secondary;
      color: $color-text-dark;

      &:hover {
        background: $color-lightgray;
        border: 1px solid $color-lightgray;
      }
    }

    &.tertiary {
      background: $color-action-tertiary;
      border: 1px solid $color-action-secondary;
      color: $color-text-dark;

      &:hover {
        border: 1px solid $color-darkgray;
      }
    }

    &.required {
      box-shadow: $color-red 0 0 7px;
      outline: 1px solid $color-red;
    }

    &.delete-action {
      background: $color-bg-white;
      border: 1px solid $color-action-delete;
      color: $color-action-delete;

      &:hover {
        background: $color-action-delete;
        color: $color-text-white;
      }
    }

    // Buttons with borders have text aligned too low
    &.tertiary,
    &.delete-action {
      line-height: 1.2;
    }

    &.action-compact {
      font-size: 12px;
      height: auto;
      margin: 0;
      min-width: 75px;
      padding: $spacing-xxs;
    }

    &.action-wide {
      min-width: 120px;
    }

    &.action-full-width {
      width: 100%;
    }

    &.action-inline {
      margin-right: $spacing-xs;
    }
  }

  .action-loading {
    color: $color-mediumgray;
    margin: 0;
  }
}
