.content-page-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .-elv-tab-container {
    margin: $elv-spacing-s 0;
  }

  .page-header-container {
    margin: $elv-spacing-s 0 0;
    padding: 0;
  }

  .page-content {
    display: flex;
    flex-direction: column;
  }

  .page-content,
  .display-frame {
    flex: 1 1 auto;
  }
}

.object-info {
  max-width: 100%;
}

.object-image {
  position: absolute;
  right: $elv-spacing-s;

  img {
    max-height: 20vw;
    max-width: 20vw;
  }
}

.video-player {
  display: flex;
  justify-content: center;
  width: 100%;

  video {
    cursor: pointer;
    max-height: 60vh;
    max-width: 85%;
  }
}

.content-object-data {
  margin: 20px 0;
}

.app-frame {
  border: 1px solid $elv-color-lightergray;
  display: block;
  flex-grow: 1;
  width: 100%;

  &.display-frame {
    margin-bottom: $elv-spacing-m;
  }
}

.account-image {
  max-height: 100px;
  max-width: 100px;
}

.version-info {
  margin-bottom: 10px;

  &.version-visible {
    margin-bottom: 30px;
  }
}

.object-description {
  height: 100%;
  margin-bottom: 5px;

  &.show {
    max-height: 100%;
  }

  &.hide {
    max-height: 3.5em;
  }
}

.part-info {
  margin-bottom: $elv-spacing-s;
}

.download-progress {
  color: $elv-color-text-lighter;
  display: flex;
  width: 100%;

  progress {
    flex-grow: 1;
    margin-right: $elv-spacing-xs;
  }
}

.-elv-traversable-json {
  background-color: $elv-color-lightestgray;
  border: 1px solid $elv-color-lightgray;
  margin: $elv-spacing-s 0;
  padding: $elv-spacing-xs $elv-spacing-s;
  word-break: break-all;
}

.app-selection {
  display: flex;
  margin-top: $elv-spacing-s;

  button {
    margin-right: $elv-spacing-xs;
  }
}
