.object-image {
  float: right;

  img {
    max-height: 20vw;
    max-width: 20vw;
  }
}

.video-player {
  display: flex;
  justify-content: center;
  width: 100%;

  video {
    cursor: pointer;
    max-height: 60vh;
    max-width: 85%;
  }
}

.content-object-data {
  margin: 20px 0;
}

.app-frame {
  border: 1px solid $elv-color-lightergray;
  display: block;
  height: 50vh;
  width: 100%;

  &.display-frame {
    margin-bottom: $elv-spacing-m;
  }
}

.account-image {
  max-height: 100px;
  max-width: 100px;
}

.version-info {
  margin-bottom: 10px;

  &.version-visible {
    margin-bottom: 30px;
  }
}

.object-description {
  height: 100%;
  margin-bottom: 5px;

  &.show {
    max-height: 100%;
  }

  &.hide {
    max-height: 3.5em;
  }
}

.part-info {
  margin-bottom: $elv-spacing-s;
}

.download-progress {
  color: $elv-color-text-lighter;
  display: flex;
  width: 100%;

  progress {
    flex-grow: 1;
    margin-right: $elv-spacing-xs;
  }
}
