.content-page-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .-elv-tab-container {
    margin: $elv-spacing-s 0;
  }

  .page-header-container {
    margin: $elv-spacing-s 0 0;
    padding: 0;
  }

  .display-frame {
    flex: 1 1 auto;
  }
}

.object-info {
  max-width: 100%;

  .missing-caps-warning {
    padding: 10px;
    background-color: rgba(#ffdd00, 0.4);
    margin-bottom: 10px;
  }
}

.object-image {
  position: absolute;
  right: $elv-spacing-s;

  img {
    max-height: 20vw;
    max-width: 20vw;
  }
}

.video-player {
  display: flex;
  justify-content: center;
  width: 100%;

  video {
    cursor: pointer;
    max-height: 60vh;
    max-width: 85%;
  }
}

.content-object-data {
  margin: 20px 0;

  .copyable {
    &.raw-data {
      display: block;
      position: relative;
    }

    .copy-icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.app-frame {
  border: 1px solid $elv-color-lightergray;
  display: block;
  flex: 1 1 auto;
  width: 100%;
}

.account-image {
  max-height: 100px;
  max-width: 100px;
}

.version-info {
  margin-bottom: 10px;

  &.version-visible {
    border-bottom: 1px solid $elv-color-lightgray;
    border-top: 1px solid $elv-color-lightgray;
    margin: 30px 0;
    padding: 30px 0;
  }
}

.object-description {
  height: 100%;
  margin-bottom: 5px;

  &.show {
    max-height: 100%;
  }

  &.hide {
    max-height: 3.5em;
  }
}

.part-info {
  margin-bottom: $elv-spacing-s;
}

.download-progress {
  color: $elv-color-text-lighter;
  display: flex;
  width: 100%;

  progress {
    flex-grow: 1;
    margin-right: $elv-spacing-xs;
  }
}

pre,
.-elv-traversable-json {
  background-color: $elv-color-lightestgray;
  border: 1px solid $elv-color-lightgray;
  margin: $elv-spacing-s 0;
  padding: $elv-spacing-xs $elv-spacing-s;
  word-break: break-all;
}

.app-selection-form {
  &.-elv-form {
    max-width: 40rem;

    input {
      width: 100%;
    }

    .form-actions {
      margin-top: $elv-spacing-xl;
    }
  }
}

.-elv-browse-widget {
  .-elv-image-preview {
    &.-elv-image-preview {
      justify-content: flex-start;
    }

    img {
      max-height: 10rem;
      object-fit: contain;
    }
  }
}

.visibility-info {
  align-items: center;
  display: flex;

  .visibility-info-icon {
    align-self: flex-start;
    cursor: pointer;
    height: auto;
    margin-left: $elv-spacing-xxs;
    width: $elv-font-l;
  }

  select {
    width: 10rem;
  }

  .visibility-info-loading {
    height: $elv-spacing-l;
    width: $elv-spacing-l;

    .la-ball-spin-clockwise {
      height: $elv-spacing-m;
      width: $elv-spacing-m;
    }
  }
}

.visibility-tooltip {
  &.-elv-tooltip {
    background-color: $elv-color-bg-white;
    flex-direction: column;
    font-size: $elv-font-l;
    max-width: 35rem;
    padding: $elv-spacing-xs $elv-spacing-s;
    text-align: left;
    width: auto;
  }

  .label-box {
    label {
      font-weight: 500;
    }

    .labelled-field {
      & > div {
        overflow: visible;
        text-overflow: unset;
        white-space: normal;
      }
    }
  }
}

.content-lookup-container {
  display: inline-flex;

  input {
    font-size: $elv-font-m;
    height: 100%;
    margin-right: $elv-spacing-xs;
    width: 20rem;
  }
}

.object-form-tabs {
  max-width: 100%;
  width: auto;

  &.object-form-tabs {
    margin: 0 0 $elv-spacing-s;
  }
}

.non-owner-caps-container {
  .table-note,
  .keys-table {
    max-width: 1000px;
    padding-left: 150px;
  }

  .table-note {
    font-size: .9rem;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .missing-caps-warning {
    padding: 10px;
    background-color: rgba(#ffdd00, 0.4);
    margin-bottom: 10px;
  }
}

.keys-table {
  .header-rows {
    background-color: $elv-color-lightgray;
    font-weight: 500;
    padding-bottom: 10px;
  }

  .header-rows,
  .body-rows {
    align-items: center;
    display: grid;
    gap: 10px; // sass-lint:disable-line no-misspelled-properties
    grid-template-columns: 2fr 140px 4fr 50px;
    padding: 5px 10px;

    .delete-button {
      display: block;
      height: 20px;
      margin: auto;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  .table-cell {
    padding: 3px;
  }
}

