@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/buttons";

.app-version {
  display: none;
}

// sass-lint:disable no-important
.hidden {
  display: none !important;
}

.bold {
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-grow {
  flex: 1 0 auto;
}

.clickable {
  cursor: pointer;
}

.actions-container {
  display: flex;
  min-height: 1.7rem;
  position: relative;

  .left-action-buttons,
  .right-action-buttons {
    display: inline-flex;
    height: 100%;
  }

  .right-action-buttons {
    position: absolute;
    right: 0;
  }

  .more-options-container {
    display: inline-block;

    .more-options-text {
      padding-right: 15px;
      position: relative;

      &::after {
        content: "\25BC";
        position: absolute;
        right: 0;
        transform: scale(1, 0.5);
      }
    }

    .-elv-button {
      &:focus {
        overflow: hidden;
      }
    }
  }

  .more-options-menu {
    background-color: $elv-color-bg-white;
    border-radius: 0;
    box-shadow: 0 8px 10px 1px $elv-color-shadow-gray, 0 3px 14px 3px $elv-color-shadow-gray, 0 4px 15px 0 $elv-color-shadow-gray;
    min-width: 133px;
    opacity: 0;
    position: absolute;
    transition: opacity 100ms linear;
    visibility: hidden;
    z-index: 999;

    &--open {
      opacity: 1;
      visibility: visible;

      .options-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 8px 0;

        .list-item {
          align-items: center;
          cursor: pointer;
          display: flex;
          height: 45px;
          overflow: hidden;
          padding: 0 17px;
          position: relative;
        }
      }
    }
  }

  .list-item-disabled-link,
  .disabled-link {
    opacity: 0.6;
    pointer-events: none;
  }

  .options-list {
    .action-container {
      display: flex;
    }

    .list-item {
      &-danger {
        &:not(:active):hover { // sass-lint:disable-line force-pseudo-nesting
          background-color: $elv-color-darkergray;
          border: 1px solid $elv-color-darkergray;
          color: $elv-color-text-white;
        }
      }

      &:hover,
      &:focus-visible {
        background-color: $elv-color-lightergray;
      }

      &:disabled {
        color: $elv-color-mediumgray;
        cursor: not-allowed;
        font-weight: normal;

        &:hover {
          background: none;
        }
      }

      &.list-divider {
        border-top: 1px solid $elv-color-gray;
        margin-top: 5px;
      }
    }

    button {
      &.list-item {
        background: none;
        border: 0;
        color: $elv-color-darkgray;
        font: inherit;
        outline: none;
      }
    }
  }

  .-elv-button {
    margin-right: $elv-spacing-xs;

    &.important {
      @include elv-button-colors($elv-color-mediumgreen, $elv-color-bg-white, $elv-color-text-white, $elv-color-mediumgreen, $elv-color-mediumgreen, $elv-color-mediumgreen);
    }
  }

  .refresh-button {
    margin-right: $elv-spacing-xs;

    svg {
      stroke: $elv-color-mediumgray;

      &:hover {
        stroke: $elv-color-darkgray;
      }
    }
  }
}

.help-text {
  color: $elv-color-text-lighter;
  font-size: $elv-font-s;
  margin-left: $elv-spacing-xxs;
}

.-elv-tab-container {
  min-height: 2.35rem;
}

.form-page {
  margin-top: $elv-spacing-m;
}

.monospace {
  font-family: $elv-font-monospace;
}

.hint-tooltip {
  &.-elv-tooltip {
    font-size: $elv-font-s;
    max-width: 100rem;
    padding: 14px 10px;
  }
}

select {
  background-color: $elv-color-white;
}

input {
  &:disabled {
    pointer-events: none;
  }
}
