@import "~elv-components-js/src/stylesheets/defaults";
@import "~elv-components-js/src/stylesheets/buttons";

.app-version {
  display: none;
}

// sass-lint:disable no-important
.hidden {
  display: none !important;
}

.bold {
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-grow {
  flex: 1 0 auto;
}

.clickable {
  cursor: pointer;
}

.actions-wrapper {
  .actions-container {
    &:not(:last-child) {
      margin-bottom: $elv-spacing-s;
    }
  }
}

.actions-container {
  min-height: 1.7rem;
  position: relative;

  &.manage-actions {
    margin-bottom: $elv-spacing-m;
  }

  .-elv-button {
    margin-right: $elv-spacing-xs;

    &.important {
      @include elv-button-colors($elv-color-mediumgreen, $elv-color-bg-white, $elv-color-text-white, $elv-color-mediumgreen, $elv-color-mediumgreen, $elv-color-mediumgreen);
    }
  }

  .refresh-button {
    margin-right: $elv-spacing-xs;
    position: absolute;
    right: 0;

    svg {
      stroke: $elv-color-mediumgray;

      &:hover {
        stroke: $elv-color-darkgray;
      }
    }
  }
}

.help-text {
  color: $elv-color-text-lighter;
  font-size: $elv-font-s;
  margin-left: $elv-spacing-xxs;
}

.-elv-tab-container {
  min-height: 2.35rem;
}

.monospace {
  font-family: $elv-font-monospace;
}
