@import "~elv-components-js/src/stylesheets/defaults";

.app-version {
  display: none;
}

// sass-lint:disable no-important
.hidden {
  display: none !important;
}

.bold {
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.actions-container {
  &.manage-actions {
    margin-bottom: $elv-spacing-m;
  }

  .-elv-button {
    margin-right: $elv-spacing-xs;

    &.important {
      background-color: $elv-color-mediumgreen;
      border: 1px solid $elv-color-mediumgreen;

      &:not(:active) {
        &:hover {
          background-color: $elv-color-white;
          border: 1px solid $elv-color-mediumgreen;
          color: $elv-color-mediumgreen;
        }
      }
    }
  }

  .refresh-button {
    position: absolute;
    right: 0;

    svg {
      stroke: $elv-color-mediumgray;

      &:hover {
        stroke: $elv-color-darkgray;
      }
    }
  }
}

.help-text {
  color: $elv-color-text-lighter;
  font-size: $elv-font-s;
  margin-left: $elv-spacing-xxs;
}
