.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;

  &.wide-card-container {
    justify-content: flex-start;

    .display-card {
      flex-basis: 100%;
    }
  }
}

.small-card {
  margin: 5px 0;
  min-height: 60px;
  padding: 10px 0;

  .card-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;

    .card-name {
      color: $color-text-black;
    }

    .card-delete {
      cursor: pointer;
      flex-shrink: 1;
      z-index: 1000;
    }
  }

  .card-description {
    color: $color-text-light;
    min-height: 2.7em;
    z-index: 1000;

    &.hide {
      height: 2.7em;
    }

    &.show {
      height: auto;
    }
  }
}


.library-card {
  @include no-select;
  display: flex;
  max-width: 100%;
  padding: $spacing-s 0;
  width: 100%;

  .icon {
    color: $color-black;
  }

  .image-container {
    display: flex;
    justify-content: center;
    padding: 0;

    .cropped-image {
      $image-size: 5vw;
      @include cropped-image($image-size, $image-size, 50%, $image-size, $image-size);
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 $spacing-m 0 $spacing-l;
  }

  .header {
    align-items: center;
    display: flex;
    height: 30px;
    padding-bottom: $spacing-xs;

    .name {
      @include ellipsis;
      color: $color-text-dark;
      font-size: 19px;
    }

    .header-icon {
      height: auto;
      margin: $spacing-xs 0 0 $spacing-xs;
      padding: 0;

      svg {
        height: 25px;
      }
    }

    .actions-container {
      .action {
        color: $color-text-light;
        font-size: 14px;
        height: 2em;
        margin: 0 $spacing-xxs;
        min-width: 50px;
        width: 90px;
      }
    }
  }

  .info,
  .description {
    color: $color-text-light;
    padding: 0 0 $spacing-xxs;
  }

  .description {
    max-height: 3.5em;
  }

  .preview-container {
    display: flex;
  }

  .preview {
    @include cropped-image(8vw, 5vw, 0, 100%, 100%);
    margin-top: $spacing-s;
    max-width: 16%;

    .content-preview {
      margin-right: $spacing-xs;
    }
  }
}
