.events {
  max-width: 1200px;

  h4 {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    height: 50vh;
    justify-content: center;
    width: 100%;
  }

  .event-controls {
    display: flex;
    height: 32px;
    margin-bottom: $elv-spacing-s;
    width: 100%;

    .control-group {
      align-items: center;
      display: flex;
      flex-grow: 1;
      height: 100%;

      &.action-group {
        flex-grow: 2;
      }

      &.filter-group {
        flex-grow: 15;
      }

      label {
        margin-right: $elv-spacing-xs;
      }

      input,
      button {
        font-size: 14px;
        height: 100%;

        &:not(:last-child) {
          margin-right: $elv-spacing-xs;
        }

        &:not(.watch-icon) {
          min-width: auto;
          width: 100px;
        }

        &.event-filter {
          flex-grow: 1;
          font-size: 16px;
          margin-right: $elv-spacing-s;
        }
      }
    }

    .watch-icon {
      width: 35px;

      &.watching {
        svg {
          animation: watch-pulse 3s infinite normal;
        }
      }

      &:hover {
        svg {
          color: $elv-color-mediumgray;
        }
      }
    }
  }

  .events-container {
    height: 75vh;
    max-height: 75vh;
    overflow-y: auto;
    padding: $elv-spacing-s $elv-spacing-xs $elv-spacing-s 0;
  }

  .filter-loading {
    width: 208px;
  }

  .load-more {
    display: flex;
    justify-content: center;
    margin-top: $elv-spacing-s;
    width: 100%;
  }
}

.event,
.log {
  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: $elv-spacing-xs;

    .info {
      color: $elv-color-text-light;
      font-family: $elv-font-monospace;
      font-size: 12px;
    }
  }
}

.event {
  border: 1px solid $elv-color-darkgray;
  font-size: 12px;
  margin-bottom: $elv-spacing-m;
  padding: $elv-spacing-s;
}

.log {
  border: 1px solid $elv-color-gray;
  margin-bottom: $elv-spacing-xs;
  padding: $elv-spacing-s;

  .labelled-field {
    align-items: center;
    display: flex;
    line-height: 1.6;

    label {
      min-width: 175px;
      width: 175px;
    }

    .value {
      @include elv-ellipsis;
      font-family: $elv-font-monospace;
      font-size: 12px;
      max-width: 50vw;
    }
  }

  .section-label {
    font-size: 12px;
    font-weight: 600;
    margin: $elv-spacing-s 0 $elv-spacing-xxs;
  }
}

@keyframes watch-pulse {
  from {
    color: $elv-color-lightblue;
  }

  to {
    color: $elv-color-darkblue;
  }
}
