.upload-widget {
  padding: $elv-spacing-s;
}

.file-browser-table {
  .file-browser-row {
    border: 1px solid $elv-color-gray;
    display: grid;
    grid-template-columns: 3rem minmax(5rem, 4fr) minmax(6rem, 1fr) 10rem;
    height: $elv-spacing-ml;

    &:not(:last-child) {
      border-bottom: 0;
    }

    svg {
      height: $elv-font-xxl;
      width: $elv-font-xxl;
    }

    & > div {
      align-items: center;
      display: flex;
      justify-content: center;

      & > div {
        @include elv-ellipsis;
      }
    }

    button > svg {
      &:hover {
        background-color: $elv-color-gray;
        border-radius: 5px;
      }
    }

    .encrypted-file-icon {
      fill: $elv-color-darkgray;
      stroke: transparent;
    }

    .directory-header,
    .directory-cell,
    .item-name-cell {
      justify-content: flex-start;
      padding-left: $elv-spacing-xs;
    }

    .directory-cell {
      cursor: pointer;
    }

    .create-directory-icon {
      justify-self: flex-end;
    }

    .actions-cell {
      justify-content: flex-end;

      & > * {
        padding-right: $elv-spacing-xs;
      }
    }

    .download-indicator {
      .animated-icon {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0;

        & > div {
          height: $elv-font-xxl;
          width: $elv-font-xxl;
        }
      }
    }

    .download-progress {
      width: 4rem;
    }
  }

  .file-browser-header {
    grid-template-columns: 3rem minmax(5rem, 3fr) 2fr;
    height: 3rem;

    .size-header {
      justify-content: flex-end;
    }

    .actions-header {
      display: flex;
      justify-content: flex-end;

      button {
        font-size: $elv-font-s;
        margin-right: $elv-spacing-s;
        min-width: 8rem;
      }
    }
  }

  .file-browser-row-empty {
    align-items: center;
    display: flex;
    height: $elv-spacing-xl;
    justify-content: center;
  }
}
