@import "~elv-components-js/src/stylesheets/forms";

form {
  @include elv-form;

  &.app-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &.small-form {
    width: 40rem;
  }

  input {
    height: 2em;
  }

  .list {
    display: flex;
    flex-direction: column;
    margin-top: $elv-spacing-xs;
    width: 100%;

    .list-item {
      align-items: center;
      margin-bottom: $elv-spacing-xs;
      position: relative;

      input {
        width: 100%;
      }

      .-elv-icon-button {
        height: 20px;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 5px;
        width: 20px;
      }
    }
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
    margin: $elv-spacing-s 0;
    text-align: center;
  }

  .section-separator {
    border-bottom: 1px solid $elv-color-lightgray;
    margin-bottom: $elv-spacing-l;
    padding-top: $elv-spacing-xs;
  }

  @media only screen and (max-width: 1000px) {
    form {
      width: 100%;

      .form-content {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: $elv-spacing-xxs;
        }

        * {
          margin-bottom: $elv-spacing-s;
        }
      }
    }
  }
}

fieldset {
  &.app-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
