@import "variables/mixins";
@import "variables/colors";
@import "variables/spacing";

form {
  @include no-select;

  display: inline-block;

  fieldset {
    border-color: $color-white;
    padding: 30px 50px 20px;
    width: 450px;
  }

  .image-preview {
    max-height: 50px;
    max-width: 50px;
  }

  .labelled-input {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;

    &.labelled-checkbox-input {
      align-items: center;
      justify-content: flex-start;

      input {
        height: 1.5em;
        margin: 0 0 0 -5px;
        padding: 0;
        width: 1.5em;
      }
    }

    label {
      align-items: center;
      display: flex;
      margin-right: 10px;
      min-width: 120px;

      &.textarea-label,
      &.text-label {
        align-items: flex-start;
      }
    }

    input {
      border: 1px solid $color-mediumgray;
      font-size: 16px;
      height: 1.8em;
      padding: 0 $spacing-xxs;
      width: 100%;

      &[type="text"] {
        padding: 0 10px;
      }
    }

    textarea {
      border: 1px solid $color-mediumgray;
      font-family: Lato, sans-serif;
      font-size: 14px;
      height: 10em;
      padding: 0 $spacing-xxs;
      width: 100%;
    }

    select {
      background: $color-bg-white;
      border: 1px solid $color-mediumgray;
      border-radius: 0;
      font-size: 16px;
      height: 2em;
      padding: 0;
      width: 100%;
    }

    .form-text {
      color: $color-text-light;
      width: 100%;
    }
  }

  .actions-container {
    justify-content: flex-end;
    margin-top: 20px;
  }
}
