.icon {
  color: $color-text-white;
  display: block;
  fill: $color-text-white;
  height: 30px;
  padding: 10px;
  width: 30px;

  &.dark {
    color: $color-darkergray;
  }
}

.icon-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;

  .icon {
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
  }

  &:hover:enabled {
    .icon {
      opacity: 0.8
    }
  }

  &:active:enabled {
    .icon {
      opacity: 0.9
    }
  }

  &:disabled {
    cursor: auto;
    opacity: 0.5;
  }
}
