.label-box {
  width: 100%;

  h2 {
    font-size: 20px;
    font-weight: 400;
    margin: $elv-spacing-m 0 $elv-spacing-s;
  }

  h3 {
    font-size: 18px;
    margin: $elv-spacing-m 0 $elv-spacing-s;
  }

  .labelled-field {
    display: flex;
    max-width: 100%;
    min-height: 1.8em;
    padding: $elv-spacing-xxs $elv-spacing-s $elv-spacing-xxs 0;

    label {
      color: $elv-color-text-light;
      display: flex;
      min-width: 150px;

      &.align-top {
        align-items: flex-start;
      }

      &.wide {
        min-width: 250px;
      }

      &.bold {
        font-weight: bold;
      }
    }

    .editable-field {
      overflow: visible;
      word-wrap: break-word;
    }

    .editing-field {
      max-width: 100%;

      input,
      textarea {
        font-size: $elv-font-l;
        min-width: 250px;
      }

      input {
        height: $elv-spacing-l;
      }

      textarea {
        height: 20rem;
        padding: $elv-spacing-xxs;
        width: 100%;
      }
    }

    .-elv-truncated-field {
      cursor: pointer;
      max-width: 100%;

      &:not(.truncated) {
        span {
          max-width: 100%;
          white-space: break-spaces;
          word-break: break-word;
        }
      }
    }

    .inline-link {
      color: $elv-color-mediumblue;
    }

    .comma-separated-list {
      white-space: normal;

      * {
        &::after {
          color: $elv-color-text-dark;
          content: ",";
          margin-right: $elv-spacing-xs;
        }

        &:last-child {
          &::after {
            content: "";
          }
        }
      }
    }

    & > div,
    & > .copyable > div {
      @include elv-ellipsis;
      flex-grow: 1;
      max-width: 525px;
    }

    & > span {
      align-items: center;
      display: flex;
    }

    // Increase specificity
    &.labelled-field {
      button {
        font-size: 12px;
        width: 200px;
      }
    }
  }

  .indented {
    padding-left: $elv-spacing-m;
  }

  pre {
    margin-top: $elv-spacing-s;
    max-width: 75vw;
    white-space: pre-wrap;

    &.event-log {
      max-height: 500px;
    }
  }
}
