.app {
  height: 100%;
  max-width: 100vw;
  width: 100%;
}

.app-container {
  height: 100%;
}

.header-container {
  grid-area: header;
}

.navbar-container {
  grid-area: navbar;
}

.notification-container {
  grid-area: notifications;
}

.main-content-container {
  grid-area: main-content;
  padding: $elv-spacing-s $elv-spacing-ml $elv-spacing-xl;
}

.page-container {
  height: 100%;
  width: 100%;

  .page-header-container {
    margin: $elv-spacing-m 0;

    .page-subheader {
      color: $elv-color-text-light;
      font-size: 16px;
      margin-top: 5px;
      min-height: 3.5em;
      z-index: 1000;

      &.hide {
        height: 3.5em;
      }

      &.show {
        height: auto;
      }
    }
  }

  .page-content {
    width: 100%;
  }
}

.view-container {
  display: grid;
  grid-template:
  "navbar notifications" 35px
  "navbar main-content" 1fr
  / 225px;
  min-height: 100%;
}

.loading-page-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  width: 100%;

  .error-message {
    color: $elv-color-mediumred;
    margin: $elv-spacing-m 0;
  }

  .actions-container {
    height: 35px;
  }
}
