.listing {
  height: 100%;
  width: 100%;

  .loading {
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: center;
    width: 100%;
  }

  .listing-actions {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    width: 100%;

    .icon-button {
      margin: 0 $spacing-xs;
      padding: $spacing-xxs;

      .icon {
        height: 30px;
        width: 30px;
      }
    }

    .filter {
      font-size: 16px;
      height: 30px;
      padding: 0 $spacing-xs;
      width: 300px;
    }
  }

  // Grid view

  .grid-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: $spacing-m;
  }

  .grid-listing-element {
    color: $color-text-light;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    height: 300px;
    justify-content: space-between;
    max-height: 300px;
    max-width: 300px;
    padding: $spacing-s $spacing-xs;
    width: 40%;

    &:hover {
      background: $color-lightergray;
    }

    .icon-container {
      $image-size: 200px;
      @include cropped-image($image-size, $image-size, 0%, $image-size, $image-size);
    }

    .title {
      color: $color-text-black;
      font-size: 18px;
    }

    .description {
      font-size: 14px;
      height: 2.5em;
      margin-bottom: $spacing-xs;
      max-height: 80px;
      overflow: hidden;
    }

    .title,
    .status {
      @include ellipsis;
    }

    .title,
    .description,
    .status {
      text-align: center;
    }
  }

  // Table view

  table {
    max-width: 100%;

    * {
      border: 0;
    }
  }

  thead {
    tr {
      height: 30px;

      th {
        margin: 0;
        padding: 0;

        &.icon-header {
          width: 95px;
        }

        &.title-header {
          width: 30%;
        }

        &.status-header {
          width: 160px;
        }
      }
    }
  }

  tbody {
    tr {
      height: 85px;

      &:hover {
        background: $color-lightergray;
        cursor: pointer;
      }

      td {
        @include ellipsis;
        color: $color-text-light;

        margin: 0;
        max-height: 100px;
        padding: 0 0 0 $spacing-s;
        word-wrap: break-word;

        &.icon-cell {
          padding: $spacing-xs $spacing-xxs;
        }

        &.title-cell {
          color: $color-text-black;
          font-size: 18px;
        }

        &.description-cell {
          .description-text {
            height: auto;
            max-height: 75px;
            overflow-x: visible;
            white-space: normal;
          }
        }

        &.status-cell {
          font-size: 14px;
        }

        .icon-container {
          $image-size: 80px;
          @include cropped-image($image-size, $image-size, 0%, $image-size, $image-size);
        }

        a {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
