.modal {
  align-items: flex-start;
  background: $elv-color-bg-modal;
  color: $elv-color-black;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .modal-content {
    background: $elv-color-bg-white;
    border: 1px solid $elv-color-darkergray;
    border-radius: 2px;
    margin-top: $elv-spacing-xxl;

    max-height: 75%;
    overflow-y: auto;
    padding: 15px 20px 20px;
    z-index: 1001;
  }

  .modal-error {
    align-content: center;
    align-items: center;
    background: $elv-color-mediumred;
    color: $elv-color-text-white;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;

    &:empty {
      display: none;
    }
  }
}
