.navbar-container {
  background: $elv-color-bg-light-dark;
  z-index: 99;
}

.navbar-links-container {
  margin-top: $elv-spacing-s;

  .navbar-link-container {
    display: block;
    height: 50px;
    text-align: center;
    width: 100%;
  }

  .navbar-link {
    color: $elv-color-darkgray;
    font-size: 16px;
    padding: 0 $elv-spacing-s;

    &:hover {
      background: $elv-color-lightergray;
    }

    &.active,
    &:hover {
      font-weight: bold;
    }

    &.active {
      color: $elv-color-text-dark;

      i {
        color: $elv-color-mediumblue;
      }
    }
  }

  .navbar-link,
  .navbar-link-span {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .navbar-link-icon {
    color: $elv-color-darkergray;
    display: inline-block;
    height: 25px;
    margin-right: $elv-spacing-ss;
    width: 25px;
  }

  .navbar-link-text {
    justify-self: center;
    text-align: left;
    width: auto;
  }
}

.navbar-account-container {
  width: 100px;
}
