.notification-container {
  font-size: 14px;
  position: relative;

  .notification-message-container {
    animation: FadeInOut 5s linear;
    animation-fill-mode: forwards;
    background: $elv-color-mediumblue;
    color: $elv-color-text-white;
    opacity: 0;
  }

  .error-message-container {
    background: $elv-color-mediumred;
    color: $elv-color-text-white;
  }

  .notification-message-container,
  .error-message-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    span {
      text-align: center;
      width: 100%;
    }
  }

  svg {
    stroke: $elv-color-white;
  }

  .clear-notification {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: auto;
    margin-right: $elv-spacing-ss;
    width: 20px;
  }
}

@keyframes FadeInOut {
  0% {
    opacity: 1;
  }

  5%,
  95% {
    opacity: 1;
  }


  100% {
    opacity: 0;
  }
}
