@import "./elv-styles/spacing";

.radio-options {
  width: 100%;

  &.inline {
    display: flex;
  }

  .radio-option {
    display: flex;

    label,
    input {
      cursor: pointer;
    }

    label {
      min-width: 100px;
    }

    &.inline {
      align-items: center;
      margin-right: $elv-spacing-l;

      &:last-child {
        margin-right: 0;
      }

      input {
        margin-right: $elv-spacing-xs;
      }

      label {
        min-width: 0;
      }
    }
  }
}
