.indexer-configuration-container {
  padding-bottom: 4rem;
  position: relative;
  width: 100%;

  .app-header {
    align-items: center;
    background: $elv-color-white;
    border-bottom: 1px solid $elv-color-lightgray;
    display: flex;
    height: 4rem;
    justify-content: space-around;
    left: 0;
    margin-bottom: 2rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

    h1 {
      font-size: 1.4rem;
      font-weight: 400;
      text-align: center;
      width: 100%;
    }
  }

  h3 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .last-run-message {
    margin-bottom: 1.5rem;
  }

  .indexer-fields-page {
    width: 100%;

    .indexer-info-container {
      width: 100%;

      .form-separator {
        background: $elv-color-lightgray;
        height: 1px;
        margin: 2.5rem auto;
        width: 90%;
      }

      .object-selection-field {
        margin: 1.5rem 0;
      }
    }

    .-elv-input {
      align-items: center;
      display: grid;
      grid-gap: 1rem;
      margin-bottom: 0;

      &.list-field-input {
        margin-bottom: 0.25rem;
        width: 800px;
      }

      &.-elv-input {
        font-size: 0.8rem;
        grid-template-columns: 8rem 1fr;
        margin-bottom: 0.25rem;

        & > input {
          border: 1px solid $elv-color-gray;
          max-width: 35rem;
          min-width: 35rem;
        }

        &.object-selection-container {
          align-items: flex-start;
          width: 35rem;
        }

        .multi-input {
          align-items: flex-start;
          max-width: 35rem;
          min-width: 35rem;

          label {
            margin-top: 0.5rem;
          }

          button {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0;
          }
        }

        .multi-input-item {
          align-items: center;
          display: grid;
          grid-template-columns: 1fr 2.5rem;
          margin-bottom: 0.5rem;
        }
      }

      &.checkbox-container {
        align-items: center;
        display: flex;
        height: 2.5rem;

        &.-elv-checkbox-input {
          margin-bottom: 0.5rem;

          input {
            height: 1.2rem;
            margin: 0;
            width: 1.2rem;

            &:not(:disabled) {
              cursor: pointer;
            }
          }
        }
      }

      .hint-label {
        display: flex;

        svg {
          margin-left: 0.5rem;
          max-height: 1rem;
          max-width: 1rem;
          min-height: 1rem;
          min-width: 1rem;
          stroke: $elv-color-text-light;
        }
      }

      label {
        color: $elv-color-text-light;
      }

      .selected-item {
        align-items: center;
        border: 1px solid $elv-color-lightgray;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        margin-right: 1rem;
        padding: 0.5rem;
        word-break: break-all;
      }

      .object-selection-actions {
        align-items: center;
        display: flex;

        button,
        a {
          &:not(:last-child) {
            margin-right: 0.5rem;
          }
        }

        svg {
          height: 1.25rem;
          width: 1.25rem;
        }
      }
    }

    .list-field-container {
      align-items: flex-start;
      width: max-content;

      .info-list-icon {
        height: 1.4rem;
      }

      .info-list-add-icon {
        margin-top: 0.5rem;
      }
    }
  }

  .list-field-entry {
    min-height: 100%;
    padding: 0.75rem 4rem 0.75rem 1.5rem;
    position: relative;

    &.even {
      box-shadow: inset 0 0 0 1px $elv-color-lightgray;
    }

    &.odd {
      background-color: $elv-color-lightestgray;
    }

    .actions {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0.35rem;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .no-update-modal {
    .-elv-modal-content {
      &.-elv-modal-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        max-width: 70%;
        min-height: 12rem;
        min-width: 70%;
        padding: $elv-spacing-m 0;
      }
    }

    .update-status-message {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      text-align: center;
    }
  }
}

.hint-tooltip.search-hint {
  max-width: 35rem;
  opacity: 100%;
  white-space: pre-wrap;
  text-align: left;
}

.-elv-modal-content {
  .-elv-form {
    white-space: pre-wrap;
  }
}
