@import "elv-styles/colors";
@import "elv-styles/spacing";
@import "elv-styles/mixins";

.tab-container {
  border-bottom: 1px solid $elv-color-gray;
  display: flex;
  list-style-type: none;
  margin: $elv-spacing-m 0;

  .tab {
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: inline;
    padding: $elv-spacing-xs $elv-spacing-m;

    &.selected {
      border: 1px solid $elv-color-gray;
      border-bottom: 0;
    }

    &:hover {
      background-color: $elv-color-lightestgray;
    }
  }
}
