@import "variables/colors";
@import "variables/spacing";

.transaction,
.event {
  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-xs;

    .info {
      color: $color-text-light;
      font-family: monospace;
      font-size: 12px;
    }
  }
}

.transaction {
  border: 1px solid $color-darkgray;
  font-size: 14px;
  margin-bottom: $spacing-l;
  padding: $spacing-s;
}

.event {
  border: 1px solid $color-gray;
  margin-bottom: $spacing-xs;
  padding: $spacing-s;

  .input {
    align-items: baseline;
    display: flex;

    label {
      width: 175px;
    }

    .value {
      //font-family: monospace;
      font-size: 12px;
    }
  }
}
