.warnings-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .warning-box {
    background-color: rgba(#fd0, 0.4);
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px $elv-spacing-ss;

    .clear-notification {
      display: flex;
      height: auto;
      margin-left: auto;
      width: 20px;
    }
  }
}
